.a{
    text-decoration:none;
    outline:none;
    text-align:center;
}
a:link{
    color:darkolivegreen;
}
a:hover{
    color:red;
}
a:focus{
    color:darkviolet;
}
ul li{
    margin:5;
    padding:30;
    text-align:start;
    text-decoration: none;
    border-radius:2;
}
body{
    background-color:aqua;
}